<!-- editStore.ejs -->

<%- include('layout'); -%>

<section>
    <h2>Edit Store</h2>

    <% if (locals.errorMessage) { %>
        <p style="color: red;"><%= locals.errorMessage %></p>
    <% } %>

    <form action="/stores/edit/<%= store.sid %>" method="post">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="<%= store.location %>">

        <label for="mgrid">Manager ID:</label>
        <input type="text" id="mgrid" name="mgrid" value="<%= store.mgrid %>">

      

        <button type="submit">Update Store</button>
    </form>
</section>
