
<section>
    <h2>Products</h2>
    <ul>
        <!-- Display product information here -->
        <% products.forEach(product => { %>
            <li>
                <strong>Product ID:</strong> <%= product.pid %><br>
                <strong>Description:</strong> <%= product.productdesc %><br>
                <strong>Store ID:</strong> <%= product.sid %><br>
                <strong>Location:</strong> <%= product.location %><br>
                <strong>Price:</strong> <%= product.price %>
            </li>
            <% }); %>
        </ul>
    </section>
    
  